@media only screen and (max-width: 768px) {
  .total-macro-display {
    margin-left: 0.1em;
    margin-top: 0.2em;
    clear: both;
    justify-content: left;
  }

  .MacroSelector-container {
    background-color: #e9ecef;
    overflow: auto;
    text-align: center;
  }

  .macro-selector-hr {
    margin: 1em 3em;
  }

  .macro-selector-info-div {
    text-align: left;
    margin-left: 1em;
  }

  .macro-selector-p-tag {
    text-align: center;
    padding-top: 1em;
  }

  .form-group-container {
    display: inline;
    width: 50%;
    float: left;
  }

  .hr-inputs {
    width: 50%;
    overflow: hidden;
  }

  .form-container {
    margin-top: -1em;
  }

  .form-group {
    display: flex;
    flex-direction: row;
  }

  .input-label {
    width: 40%;
    clear: left;
    text-align: right;
    padding-right: 10px;
    margin-top: 0.5em;
    margin-right: 1em;
    margin-left: 0.2em;
  }

  .macro-input {
    width: 70%;
  }

  li {
    margin: 1em;
  }

  ul {
    columns: 2;
    float: left;
    justify-content: left;
    padding: 0;
    margin-top: -1.5em;
  }

  .calculate-button {
    margin: auto;
    width: 32%;
    clear: right;
    height: 3em;
    display: inline;
    margin-top: 3.5em;
  }

  .hr-macro-display {
    clear: both;
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .MacroSelector-container {
    background-color: #e9ecef;
    overflow: auto;
  }

  .macro-selector-info-div {
    width: 50%;
    float: left;
    padding: 0 1em;
  }

  .macro-selector-hr {
    margin: 1em 3em;
  }
  li {
    margin: 1em;
  }

  ul {
    columns: 2;
    float: left;
    justify-content: left;
    padding: 0;
    margin-top: -1.5em;
  }
  /*Above is left hand side of screen - Below is right hand side */

  .form-container {
    width: 50%;
    float: right;
    padding: 0 1em;
  }
  .form-group-container {
    margin-left: 2em;
    justify-content: center;
    text-align: center;
  }

  .form-group {
    width: 30%;
    display: inline-grid;
    margin-left: 0.5em;
  }
  .input-label {
    display: inline;
    text-align: left;
  }

  /* .macro-input {
    width: 30%;
  } */

  .hr-inputs {
    display: none;
    width: 50%;
    overflow: hidden;
  }
  .btn {
    margin-left: 37%;

    margin-top: 0.4em;
    margin-bottom: 1em;
  }
  .total-macro-display {
    text-align: center;
    margin: 1em;
    clear: both;
  }

  .hr-macro-display {
    clear: both;
    width: 50%;
  }
}
