.nav {
  padding: 1em;
  background-color: #538cc6;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

body {
  font-family: roboto;
  color: #444444;
}

.calorie-setter-parent-div {
  background-color: #e9ecef;
}

.macro-setter-parent-div {
  background-color: #e9ecef;
  overflow: auto;
}

.form-control {
  background: #d3d3d3;
  width: 30%;
}

.calorie-slider-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.macro-setter-image {
  width: 1300px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}
.padding-bottom {
  padding-bottom: 1em;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  width: 70%;
  margin: auto;
  border-radius: 50px;
  display: inline;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #444444; /* Green background */
  border-radius: 50px;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: blue; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

a {
  color: black;
}

::-webkit-input-placeholder {
  text-align: center;
}

strong {
  font-weight: bold;
}

::marker {
  color: red;
}

@media only screen and (max-width: 990px) {
  .form-container {
    margin-top: 2em;
  }

  .macro-selector-heading {
    margin-top: 1em;
    text-align: center;
  }

  .search-input {
    margin: auto;
    width: 90%;
  }
  .input-label {
    width: 40%;
    clear: left;
    text-align: right;
    padding-right: 10px;
    margin-top: 0.5em;
    margin-right: 1em;
    margin-left: 0.2em;
  }

  li {
    margin: 1em;
  }

  ul {
    columns: 2;
    float: left;
    justify-content: left;
    padding: 0;
  }

  .macro-input {
    width: 70%;
  }

  .form-group {
    display: flex;
    flex-direction: row;
  }
  .calculate-button {
    margin: auto;
    width: 30%;
    clear: right;
  }

  .total-macro-display {
    margin-left: 0.1em;
    margin-top: 0.2em;
    clear: both;
    justify-content: left;
  }
}

@media only screen and (min-width: 991px) {
  .form-container {
    width: 70%;
    float: left;
  }
  .macro-selector-heading {
    text-align: center;
  }
  .calorie-setter-div {
    float: left;
    width: 40%;
    margin: 3em;
  }
  .calculate-button {
    margin-bottom: 2em;
  }
  .inline-display {
    margin-left: 50%;
  }

  .search-input {
    margin: auto;
    width: 90%;
  }

  div label {
    text-align: center;
  }
  .form-group {
    /* display: flex;
    flex-direction: column;
    margin-right: 2%;
    margin-left: 2%;
    margin: auto; */
  }
  .calculate-button-div {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2em;
  }

  .total-macro-display {
    margin-left: 0.7em;
    margin-top: 0.7em;
  }

  .macro-selector-div {
    background: red;
  }
}

.displayGrid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr, auto);
}

.displayTester {
  --auto-grid-min-size: 3rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 1rem;
}

.macroGridProteinName {
  grid-column: 1/2;
  margin-left: 80px;
}

.rcorners2 {
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding: 20px;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
